/* Hero Section */
.hero {
    height: calc(100vh - 150px);
    scroll-margin-top: 150px;
    margin: 150px 100px 0px;
}

.hero h1 {
    font-size: 80px;
    color: var(--text-color);
}

.hero p {
    font-size: 50px;
    width: 60%;
    margin-bottom: 90px;
    color: var(--text-color);
}

.button-container {
    display: flex;

}
  
.hero button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.2s ease;
}

.resume-button {
    margin-right: 20px;
    background-color: var(--text-color);
    color: #F4F4F4;
}

.hero .blog-button {
    display: none;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
  
.hero button span {
    position: relative;
    display: block;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero button:hover {
    opacity: 0.8;
}
  
.hero button:hover span {
    transform: translateY(-3px);
}
  
.hero button:active span {
    transform: translateY(0px);
}
  
.fade-in {
    animation: fade-in 2.5s ease-out both;
    -webkit-animation: fade-in 2.5s ease-out both;
}
  
.fade-in-background {
    animation: fade-in-background 2.5s ease-out both;
    -webkit-animation: fade-in-background 2.5s ease-out both;
}

/* Use with React Button
/* .hero button:hover:active {
    background-color: black;
} */

/* Animation */

/* Text title */
@keyframes fade-in {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
  
@-webkit-keyframes fade-in {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

  
  
  