:root {
  --bg: #F0F2F3;
  --text-color: #0F1B61; 
  --subtext-color: #73BBC5;
  --font-family: "Satoshi-Medium", sans-serif;
  --font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F4F9FC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  width: 100%;
}

.App {
  position: relative;
  overflow: hidden;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  /* background: #F4F9FC; */
  background: url('./assets/img/seattle.png') no-repeat center center/cover;
  z-index: -1; 
  opacity: 0.2;
}

/* Styles for the cursor light effect */
#cursor-light {
  display: none;
  position: fixed;
  pointer-events: none; /* Allows clicks to pass through */
  width: 350px;
  height: 300px;
  margin-top: -150px; /* Offset to center the circle */
  margin-left: -175px;
  border-radius: 50% / 25%;
  background: radial-gradient(circle, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 70%);
  transition: transform 0.1s ease; /* Smooth transition for movement */
  transform: translate(-50%, -50%); /* Initial state off screen */
  z-index: 9999;
}

.dot {
  color: var(--subtext-color);
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

h2::after {
  content: "";
  position: relative;
  display: block;
  height: 3px;
  width: 80px;
  bottom: -20px;
  left: 0;
  background: var(--subtext-color);
  margin-bottom: 50px;
}

#projects, #contact {
  scroll-margin-top: 80px;
  background-color: #F4F9FC;
  width: 100%;
  padding: 50px 100px 0px 100px;
}

#projects p, #contact p, footer p {
  margin: 0;
}

/* Footer */
footer {
  background-color: var(--bg);
}

footer p {
  color: var(--text-color);
}

/* Tablet devices */
@media (max-width: 992px) {
  .hero h1 {
    width: 100%;
    font-size: 50px;
  }
}

/* Mobile devices */
@media (max-width: 576px) {
  .hero h1 {
    font-size: 25px;
  }
}

/* Animation */

/* Background image */
@keyframes fade-in-background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
@-webkit-keyframes fade-in-background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}